{% extends "base.html" %}
{% load staticfiles %}


{% block content %}


<h1>Проекты</h1>
<ul>

{% for graph in graphs %}
    <li>
        <a href="/admin/zcore/graph/{{ graph.id }}" target=blank>id {{ graph.id }}</a>
        -
        <!-- <a href="{% url 'viewForceD3' graph.id '' '' '' %}" target=blank>{{ graph.title }}: </a> -->
        <a href="{% url 'viewGraph' graph.id %}" target=blank>{{ graph.title }}: </a>
    </li>
{% endfor %}
</ul>


<!--
<svg width="460" height="430" xmlns="http://www.w3.org/2000/svg">
<g transform='translate(8, 8)'>
    <rect
        transform='rotate(45) translate(-4, -4)'
        x='0'
        y='0'
        width='8'
        height='8'
    />
</g>
</svg>
-->


{% endblock content %}
